body {
  width: 100%;
}

a{
  text-decoration: none;
  color: white;
}

.btn {
  color: white;
  background-color: black;
}

nav {
  justify-content: space-around;
  padding: 20px;
  text-transform: uppercase;
}

nav a{
  padding: 20px;
  margin-top: 20px;
  color: #030707;
}

.home {
  height: 600px;
  color: #EFECE3;
  text-align: center;
}

.home img {
  justify-content: center;
  padding-top: 100px;
}

footer {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 60px;
  background-color: #EFECE3;
  color: #030707;
  justify-content: center;
}

.products img {
  height: 400px;

}

.stockists {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stockists img {
  width: 400px;
}
