body {
  display: flex;
}

div {
  width: 100%;
}

a{
  text-decoration: none;
  color: white;
}

nav {
  justify-content: space-around;
  padding: 20px;
  text-transform: uppercase;
}

nav a{
  padding: 20px;
  margin-top: 20px;
  color: #030707;
}

.home {
  height: 400px;
}

.home img {
  justify-content: center;
  padding: 60px auto;
}
