body {
  width: 100%;
}

a{
  text-decoration: none;
  color: white;
}

.btn {
  color: white;
  background-color: black;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  margin: 10px 20px;
}

h1 {
  text-align: center;
}

nav {
  justify-content: space-around;
  padding: 20px;
  text-transform: uppercase;
}

nav a{
  padding: 20px;
  margin-top: 20px;
  color: #030707;
}

.about img {
  filter: grayscale(80);
}

.about p {
  max-width: 60%;
}

.contact a {
  color: purple;
}

.contact p {
  margin-left: 40px;
}

.home {
  height: 600px;
  color: #EFECE3;
  text-align: center;
}

.home img {
  justify-content: center;
  padding-top: 100px;
}

.products img {
  height: 400px;
}

.shop {
  display: grid;
}

.shop a {
  padding-top: 40px;
  padding-bottom: 40px;
  /*To make the whole button clickable not just text:*/
  display: block;
}

.shop button {

  font-size: 2em;
}

.shop a:hover {
  color: blue;
}

.stockists {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stockists img {
  width: 400px;
}

footer {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 60px;
  background-color: #EFECE3;
  color: #030707;
  justify-content: center;
}
